
.logo {
    margin-left:10px;
    margin-right:10px;
    position: relative;
    float: left;
}

.title {
    font-family: 'Cursive', sans-serif;
    position: relative;
    color: #0083E0;
    text-align: center;
}

.header {
    border-bottom: 1px solid $light-accent-color;
    overflow: auto;
    
    a:hover{
        background-color: $light-accent-color;
        padding:5px;
    }

    a {
        color:$dark-font-color;
    }

    .nav .links {
        
        float: right;
    }

    .nav .name {
        
        float: left;
        font-size: 16;
    }

    .nav {
        
        position: relative;
        border: 1px solid #fff;
        
    }

}

.site-header{
    margin-bottom: 0;
}