
.logo {
    margin-left:10px;
    margin-right:10px;
    position: relative;
    float: left;
}

.title {
    font-family: 'Poiret One', sans-serif;
    position: relative;
    color: #0083E0;
}

.header{
    color: $light-font-color;
    background-color: $dark-header-background;
    border-bottom: 1px solid $dark-accent-color;
    overflow: auto;
    
    a:hover{
        background-color: $dark-accent-color;
        padding:5px;
    }

    a {
        color: $light-font-color;
    }
}

.site-header{
    margin-bottom: 0;
}