@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'header';
@import 'footer';
@import 'technology';
@import 'video';


@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poiret+One&display=swap');


* {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
}

h1 {
    font-size: 3em;
}

* {
    color: $dark-font-color;
}

body {
    background-color: $light-background-color;
}

.main {
    margin: 2rem;
    font-size: 1em;
}

.title {
    margin-left: 10px;
    
}

.report {
    max-width: 800px;
    margin: 0 auto;
}
