@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'style-dark-header';
@import 'footer';
@import 'technology';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poiret+One&display=swap');


* {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
    text-shadow: 2px 2px 4px #ffc0fb;
}

h1 {
    font-size: 3em;
}

.title h1{
    font-size: 4em;
    font-family: cursive;
    font-weight: 900;
    font-style: none;

}

body {
    background-color: $dark-background-color;
}

* {
    color: $light-font-color;
}

.main {
    margin: 2rem;
    font-size: 1em;
}

.report {
    max-width: 800px;
    margin: 0 auto;
}