
.logo {
    margin-left:10px;
    margin-right:10px;
    position: relative;
    float: left;
}

.title {
    
    font-family: 'Cursive', sans-serif;
    position: relative;
    color: #0083E0;
    text-align: center;
}

.header{
    color: $light-font-color;
    
    border-bottom: 1px solid $dark-accent-color;
    overflow: auto;

    a:hover{
        background-color: $dark-accent-color;
        padding:5px;
    }

    a {
        color: $light-font-color;
    }

    .nav .links {
        
        float: right;
    }

    .nav .name {
        
        float: left;
        font-size: 16;
    }

    .nav {
        
        position: relative;
        border: 1px solid #333;
        
    }
}

.site-header{
    margin-bottom: 0;
}