.landingpage{
    display: grid;
    gap: 1rem 2rem;
    margin: 2rem;
}

.landingpage h1{
    grid-column: span 3;
}

.box {

    border: 1px solid #ccc;
    padding: 1rem;
}

.wide {
    grid-column: span 2;
    
}

.wider {
    grid-column: span 3;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;    
}

.tech-menu {
    width: 30%;
}

.tech-article {
    width: 70%;
}

.link a {
    font-size: 20px;
}

.iframe{
    width: 80%;
}

@media (max-width: 767px) {
    .landingpage h1 {
        grid-column: span 1;
        justify-content: center;
        grid-template-columns: [first] 40px;
    }

    .box {
        grid-column: span 1;
        justify-content: center;
    }

    .landingpage{
        margin:auto;
    }

    .tech-menu{
        visibility: hidden;
    }

    .tech-article{
        width: auto;
    }
    

}   


