

$font-alternative-color: #fff;

$background-alternative-color: #e0fbfc;
//$header-background:#0B00E0;

$dark-font-color: #333;
$light-header-background: #fff;
$light-accent-color: #ffc0fb;
$light-background-color: #fff;



$light-font-color: #fff;
$dark-header-background: #1200E1;
$dark-accent-color: #ffc0fb;
$dark-background-color: #333;