

$font-alternative-color: #fff;

$background-alternative-color: #e0fbfc;
//$header-background:#0B00E0;

$dark-font-color: #000;
$light-header-background: #007CE0;
$light-accent-color: #A600E0;
$light-background-color: #fff;



$light-font-color: #fff;
$dark-header-background: #1200E1;
$dark-accent-color: #5500E0;
$dark-background-color: #000;