{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class=tech>
            <div class="tech-menu">
                <h3>MENU</h3>
                {% for page in pages("technology")|sort_by("time")|reverse if not page.hidden %}
                    <div class="post">
                        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                    </div>
                {% endfor %}
            </div>
            <div class="tech-article">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
